@{ Layout = "_Layout"; }
@using Bakery
<ul>
    @foreach (Vendor vendor in Model)
    {
        <li><a href="vendors/@vendor.Id">@vendor.Name - @vendor.Description</a></li>
    }
</ul>
<h1><a href="/vendors/new">Add vendor</a></h1>