@{ Layout = "_Layout"; }
<h1><b>Add a vendor</b></h1>
<p><b>Add a vendor here:</b></p>

<form action="/vendors" method="post">
  
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  
  <label for="vendorDescription"> Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  
  <label for="vendorOrder"> Vendor's orders</label>
    <input id="vendorOrder" name="vendorOrder" type="text">
  
  <button type="submit">Add</button>
</form>


<p><h2></h2><b><a href="/vendors">Back to vendors</a><h2></></b></p>
